h1{
  margin: 30px 0;
}

.produtos-container{
  .produtos-itens{
    color: $cinza;
    h2{
      font-size: 30px;
      margin: 5px 0 7px 0;
    }

    .produto-stars{
      svg{
        fill: $amarelo;
        width: 15px;
        height: 15px;
        margin: -30px 0 -10px 0;
      }
    }

    strong{
      position: absolute;
      top: 989px;
      font-size: 20px;
    }

  }
}


.btn{
  margin: 60px 0;
}